@import url("header.css");
@import url("main-nav.css");
@import url("site-list.css");
@import url("user-list.css");
@import url("stats.css");
@import url("adventages.css");
@import url("slider.css");

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrow-Regular.ttf") format ("ttf");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrow-Bold.ttf") format ("ttf");
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}

img {
  max-width: 100%;
  height: auto;
}
